// Mixins in here
.displayFlex(@direction, @justify, @align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.bottomBorder {
    border-bottom: 2px dashed gray;
}

.borderTest {
    border: 1px solid black;
}